.container {
    text-align: center;
    background-image: url('http://localhost:4000/images/body.png');
    background-size: cover; /* Adjust the size to cover the entire element */
    background-position: center center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; 
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    font-weight: normal; 
    font-style: normal; 
}
.container_einzeln {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding: 2rem;
    border-radius: 31px;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('http://localhost:4000/fonts/to/01_PressStart2P-Regular.ttf') format('truetype');
}
